[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
bcrypt = "*"
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = "*"
passlib = {extras = ["bcrypt"], version = "*"}
requests = "*"
fastapi-pagination = "*"

[dev-packages]

[requires]
python_version = "3.12"
